:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 16px;
}

body {
    padding: 10%;
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}


table {
    padding: 30px;

}

td{
    width: 300px;
    padding: 10px;
    

}
tr{
    border-radius: 20%;
    border-color: red;
}
h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    border-radius: 10%;
    border-color: red;

}

.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 2 40px;
    margin: auto;
    justify-content: space-between;
}



.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}


.h_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
    padding-left: 2rem;
}
.h__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.h_header a {
    color: var(--text-color);

}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color:#c0392b;
    transition: color 0.3s ease-in-out;
}

.hero_main{
    display: flex;
    background-image: url(../Recursos/hero.png);
    border-radius: 1rem;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 18rem;
    transform: scale(1);    
    transition: transform 0.3s ease-in-out; 
    
}

.hero_main:hover {
    transform: scale(1.1); 
}

.hero_estreno{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    padding: 2rem;
}

h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.hero_text h3{
    color: #000000;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.hero_text{
    display: flex;
    background-color: rgb(222, 186, 7);
    outline: 2px solid rgb(222, 186, 7);
    border-radius: 1rem;
    width: 300px;
    height: 40px;
    border: 2px dashed black;
    justify-content: center;
    align-items:center;
    text-align: right;
    position: absolute;
    bottom: -1rem; 
    left: 50%;
    transform: translateX(-50%); 
    white-space: nowrap;
}


.h1-hover h1:hover{
    color: var(--main-color);
}

.pelicula-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.pelicula-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.pelicula-info span {
    margin-left: 5px;
}

.pelicula-info i {
    color: var(--main-color);
}

.pelicula-info ~ .pelicula-info {
    margin-left: 5px;
}


.pelicula-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.pelicula-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.pelicula-item:hover img {
    transform: scale(1.2);
}

.pelicula-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.pelicula-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.pelicula-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}


/* SECTION HERO PAG-MOVIE*/

.hero{
    padding: 1rem;
    display: flex;
    justify-content: center;

}

.hero__description{
    padding: 1rem;
    display: flex;
    gap: 3rem;

    
}

.hero__description h1{
    justify-content: center;
    font-size: 2.5rem;
    text-shadow: 4px 4px 0 rgb(0, 0, 0);
    
}

.description-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.description__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description__right h3{
    
    display: flex;
    color: #fff;
    padding-top: 0.7rem;
    white-space: 0.1rem;
    margin-bottom: 20px;
}

.description__right p{
    display: flex;
    color: #8C8F9F;
    padding: 0.3rem;
    white-space: 0.1rem;
}

.iframe{
    gap: 2rem;
    border: 2px solid #fff;
    border-radius: 20px;
    height: 300px
}

.image{
    border: 2px solid #fff;
    border-radius: 20px;
}

