:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 16px;
}
main {
	max-width: 800px;
	width: 90%;
    margin: auto;
    position: relative;
    min-height: calc(100% - 120px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Cairo", sans-serif;
    background-color: var(--box-bg);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding-top: var(--nav-height);
    margin-top: 0px;
    margin-bottom: 0px;
}
/*Navegacion en cartelera*/
.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}
.container{
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}
.logo{
    font-size: 2rem;
    font-weight: 900;
    color: var(--text-color)
}
.main-color{
    color: red;
    color: var(--main-color);
}
.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.nav-menu li~li{
    margin-left: 30px;
}
.nav-menu a{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color);
}
/**********/
/*Pie de pagina*/
.footer{
    background-color: #000000;
    padding: 20px;
    text-align: center;
    padding: 10px 0;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    flex-wrap: wrap;
}
.icon-elem{
    list-style: none;
}
.icon{
    color: white;
    font-size: 32px;
    display: 0 10px;
    transition: 0.5s;
}
.icon:hover{
    transform: translateY(-10px);
}
.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.menu-elem{
    list-style: none;
}
.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
.menu-icon:hover{
    opacity: 1;
}
.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
/*----------------------*/
/*Regsitro de usuario*/
.contenedor-registro{ 
    width: 300%;
    max-width: 1150px; /* Ancho máximo del contenedor */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px; /* Espacio entre el contenedor y el footer */
    background-color: #606060;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    gap: 10px;

    @media screen and (max-width: 1200px) {
        width: 600px;
        grid-template-columns: 1fr;
    }
    @media screen and (max-width: 800px) {
        width: 90%;
        padding: 5%;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
        padding: 8%;
    }
}
.contenedor-registro h1{
    color: white;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
    text-align: left;
}
.contenedor-formulario{
    background-color: rgb(255, 236, 22); /* Color de fondo para visualización */
    padding: 10px; /* Espacio interno alrededor del contenido */
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formulario__grupo{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.formulario__grupo > * {
    flex: 1; /* Ocupa el espacio disponible */
    margin: 0 10px; /* Espacio entre los elementos */
}
.formulario__label{
    display: grid;
    padding: 15px; /* Añade padding uniforme para espaciar el contenido del label */
    cursor: pointer;
    width: 25px; /* Ancho fijo del label */
    font-weight: 700;
    text-align: left; /* Centra el contenido del label */
}
.formulario__grupo > *:not(.formulario__label) {
    flex: 4; /* Ocupa el espacio disponible */
    margin-left: 10px; /* Margen izquierdo para separación */
}
.formulario__grupo-input{
    padding: 0 10px;
    justify-content: flex-end;
    
}
.formulario__input, select {
    flex: 1;
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 35px;
    padding-left: 10px; /* Ajusta el relleno según sea necesario */
    padding-right: 10px;
    transition: .3s ease all;
    font-size: 15px;
    max-width: 150%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

@media screen and (max-width: 800px) {
    .formulario__grupo {
        flex-direction: column; /* Cambia a una columna en pantallas más pequeñas */
        
    }
    .formulario__label {
        text-align: left; /* Alinea el texto del label a la izquierda */
        margin-right: 10px; /* Espacio entre el label y el input */
        width: auto; /* Ancho automático basado en el contenido */
        align-self: flex-start; /* Alinea el label al inicio del contenedor */
        padding: 0 10px; /* Añade relleno alrededor del label */
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .formulario__grupo-input {
        flex: 1; /* Ocupa todo el espacio disponible */
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Alinea los elementos al inicio */
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


.formulario_terminos_y_condiciones{
    
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;

}
.directrices{
    margin-block-start: 1em;
    margin-block-end: 1em;
    
    align-items: center;
    text-align: justify;
    display: flex;
    justify-content: center;   
}

.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow:  3px 0px 30px rgb(163, 163, 163. 0.4);
}
select:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow:  3px 0px 30px rgb(163, 163, 163. 0.4);
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__checkbox{
    margin-top: 20px;
    margin-right: 10px;
}
.formulario__grupo-terminos,.formulario__mensaje,.formulario__grupo-btn-enviar{
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius:  3px;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__mensaje p{
    margin: 0;
}
.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}
.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgb(163, 163, 163,1);
}
.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}

@media screen and (max-width: 800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,.formulario__mensaje,.formulario__grupo-btn-enviar{
        grid-column: 1;
    }
    .formulario__btn{
        width: 100%;
    }
}