:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 16px;
}
.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
    justify-content: space-between;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding-top: var(--nav-height);
    margin-top:0px;
    margin-bottom: 0px;
}
section:not(:last-of-type) {
    position: relative; /* Permite el posicionamiento relativo */
    bottom: 50px; /* Ubica la sección en la parte inferior */
}
/*Navegacion de CARTELERA,DULCES,ESTRENOS,SOBRE NOSOTROS*/
.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}
.nav a{
    color: var(--text-color);
}
.logo{
    font-size: 2rem;
    font-weight: 900;
}
.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.nav-menu li~li{
    margin-left: 30px;
}
.nav-menu a{
    text-transform: uppercase;
    font-weight: 700;
}
/*-------------------------------------------------------------------------------*/
/*Cartel de estreno*/
.hero{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
main{
    flex: 1;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_main:hover {
    transform: scale(1.1); /* Escala al hacer hover */
}
/*--------------DULCERIA------------------*/
.hero_main_d{
    display: flex;
    background-image: url(../Recursos/dulceria.png);
    border-radius: 1rem;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 18rem;
    transform: scale(1);    
    transition: transform 0.3s ease-in-out; 
}
.hero_main_d:hover {
    transform: scale(1.1); 

}
/***/
p {
    color: #fff;
}

h4{
    color: #fff;
}
/**/
/*------------------------------------------------------*/
.hero_main{
    margin-top: 20px;
    display: flex;
    background-image: url(../Recursos/hero.png);
    border-radius: 1rem;
    background-size: 100% 100%;
    background-position: center;
    width: 90%;
    height: 18rem;
    position: relative;
}
.hero_estreno{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    padding: 2rem;
}
.hero_text h2{
    color:#000000;
    font-weight: 700;
}
.hero_text{
    display: flex;
    background-color: rgb(222, 186, 7);
    outline: 2px solid rgb(222, 186, 7);
    border-radius: 1rem;
    width: 300px;
    height: 50px;
    border: 2px dashed black;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -1rem; 
    left: 50%;
    transform: translateX(-50%); 
    white-space: nowrap;
}
h1,h3{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: white;
}
.h1-hover h1:hover{
    color: var(--main-color);
}
/*-------------------------------------------------------------------------------*/
.welcome_section {
    text-align: left; /* Alinear el contenido a la izquierda */
}
.content_section {
    width: 95%; /* Ajustar el ancho del contenido */
    margin: 20px auto; /* Centrando el contenido con márgenes automáticos */
    padding: 20px; /* Añadir relleno para separar el contenido de los bordes */
    background-color: #181616; /* Color de fondo opcional para la sección */
    border-radius: 1rem; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un poco de elevación */
}
/*-------------------------------------------------------------------------------*/
/*Tabla*/
table tr{
    padding: 0px;
    width: 10em;
}
td{
    width: 300px;
    padding: 10px;
    text-align: center;
}
tr{
    border-radius: 20%;
    border-color: red;
}
.pelicula-infos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top)/2);
    color: var(--text-color);
    justify-content: center; 
}
.pelicula-info{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    justify-content: center;
}
.pelicula-info span{
    margin-left: 5px;
    text-align: center;
}
.pelicula-info ~ .pelicula-info{
    margin-left: 5px;
}
.pelicula-item{
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
    text-align: center;
}
.pelicula-item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: transform 0.3s linear;
}
.pelicula-item:hover img{
    transform: scale(1.2);
    max-width: 100%;
    height: auto;
}
.pelicula-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
.pelicula-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.pelicula-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
    text-align: center;
}
/*------------------*/
.description__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description__right h3{
    
    display: flex;
    color: #ffffff;
    padding-top: 0.7rem;
    white-space: 0.1rem;
}
.description__right p{
    display: flex;
    color: #cbcbcf;
    padding: 0.3rem;
    white-space: 0.1rem;
}
.iframe{
    gap: 2rem;
    border: 2px solid #fff;
    border-radius: 20px;
    height: 300px
}
img {
    border-radius: 10%;
    border-color: red;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: unset;
}
/*Descripcion de cada pelicula*/
.hero{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.hero__description{
    padding: 1rem;
    display: flex;
    gap: 3rem;
}
.hero__description h1{
    justify-content: flex-start;
    font-size: 2.5rem;
    text-shadow: 4px 4px 0 rgb(0, 0, 0);
    position: relative;
}
.hero__description h2{
    justify-content: flex-start;
    font-size: 30px;
    text-shadow: 4px 4px 0 rgb(0, 0, 0);
    position: relative;
}
.description-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.description__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description__right h3{
    display: flex;
    color: #ffffff;
    padding-top: 0.7rem;
    white-space: 0.1rem;
}
.description__right p{
    display: flex;
    color: #cbcbcf;
    padding: 0.3rem;
    white-space: 0.1rem;
}
/*-----------------------------------------------------------------------------*/
/*Pie de pagina*/
.footer{
    background-color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: auto; 
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    flex-wrap: wrap;
}
.icon-elem{
    list-style: none;

}
.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s
}
.icon:hover{
    transform: translateY(-10px);
}
.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.menu-elem{
    list-style: none;
}
.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
.menu-icon:hover{
    opacity: 1;
}
.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
.main-color{
    color:red;
    color: var(--main-color);
}
/*--------------Seccion del login------------------*/
.section-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background: url(../Recursos/Cine/Fondo\ de\ cine.jpg) no-repeat;
}
aside#center{
    width: 400px; height: 480px;
    float: left;
    position: relative;
    display: flex;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
}
aside#center h2{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}
.input-center{
    position: relative;
    margin: 30px 0px;
    width: 300px;
    border-bottom: 2px solid #fff;
}
.input-center label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}
input:focus~label,
input:valid~label{
    top: -5px;
}
.input-center input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #fff;
}
.input-center i{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}
.olvidar{
    margin: -10px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}
.olvidar label input{
    margin: 3px;
}
.olvidar label a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}
.olvidar label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}
button:hover{
    opacity: .9;
}
.registrar{
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.registrar p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}
.registrar p a:hover{
    text-decoration: underline;
}
/*----------------------------------*/