
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1D31;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    background-color: #24253C;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 350px;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    text-align: center;
}

form h2{
    font-size: 30px;
    color: #EDF0F0;
    margin-bottom: 35px;  
} 

input{
    padding: 13px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603462;
    margin-bottom: 30px;    
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
}

::placeholder{
    color: #898798;
}

.btn{
    background-color: #E53854;
    border: 4px solid #E53854;
    cursor: pointer;
}

.btn:hover{
    background-color: #F33F5A;
    border: 4px solid #F33F5A;
}

@media(max-width:991px){

}
