*{
    background-color: #0f1115;
    font-style: italic;
    font-family: "Inter", sans-serif;
}
.text-align{
    text-align: justify;
}
.footer-background{
    background-color: #181A20;
    
}
th, #inicio{
    font-style: normal;
}
#amarillo{
    color: #E4B318;
    font-weight: bold;
    font-style: normal;
}
.image{
    width: 300px; 
    height: 350px; 
    border: 3px solid #7492A3;
}
.white{
    color: #fff;
}
.gray{
    color: #8C8F9F;
}
table, th, td {
    border:3px solid #7492A3;
    background-color: #2B2F3B;
}
nav{
    border: 3px solid #2B2F3B;
}